@model IEnumerable<VP.Models.Kategorija>

@{
    ViewData["Title"] = "Index";
}

<h1>Kategorije</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv kategorije
            </th>
            <th>
                Opis kategorije
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivKategorije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisKategorije)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKategorije">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdKategorije">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKategorije">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
