@model VP.Models.Uposlenik

@{
    ViewData["Title"] = "Details of Uposlenik";
}

<h1 class="text-warning">Details</h1>
<br/>
<div>
    <h4>Uposlenik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
           Broj mobitela
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojMobitela)
        </dd>
        <dt class = "col-sm-2">
           JMBG
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jmbg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Datum rođenja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>
        <dt class = "col-sm-2">
           Pozicija
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pozicija.PozicijaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUposlenik" class="btn btn-outline-success" fdprocessedid="oaubug">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-light" fdprocessedid="tsh8mj">Back to List</a>
</div>
