@model IEnumerable<VP.Models.Uposlenik>

@{
    ViewData["Title"] = "Uposlenici";
}

<h1>Uposlenici</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary" fdprocessedid="j5k4t7">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th>
               Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
               Adresa
            </th>
            <th>
                Broj mobitela
            </th>
            <th>
                JMBG
            </th>
            <th>
                Email
            </th>
            <th>
               Datum rođenja
            </th>
            <th>
               ID pozicije
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojMobitela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jmbg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pozicija.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUposlenik" class="btn btn-outline-success" fdprocessedid="oaubug">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.IdUposlenik" class="btn btn-outline-warning" fdprocessedid="0i8oo">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.IdUposlenik" class="btn btn-outline-danger" fdprocessedid="z0p2rq">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
