@model IEnumerable<VP.Models.Uposlenik>

@{
    ViewData["Title"] = "Uposlenici";
}

<h1>Uposlenici</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
               Adresa
            </th>
            <th>
                Broj mobitela
            </th>
            <th>
                JMBG
            </th>
            <th>
                Email
            </th>
            <th>
               Datum rođenja
            </th>
            <th>
                Pozicija
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojMobitela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jmbg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pozicija.PozicijaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUposlenik">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUposlenik">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUposlenik">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
