@model IEnumerable<VP.Models.UposlenikKategorija>

@{
    ViewData["Title"] = "Kategorije uposlenika";
}

<h1>Kategorije uposlenika</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary" fdprocessedid="j5k4t7">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th>
                Kategorija
            </th>
            <th>
               Uposlenik
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdKategorijeNavigation.NazivKategorije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUposlenikNavigation.Ime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success" fdprocessedid="oaubug">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning" fdprocessedid="0i8oo">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" fdprocessedid="z0p2rq">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
