@model VP.Models.DodjelaVozila

@{
    ViewData["Title"] = "Details of Dodjela vozila";
}

<h1 class="text-warning">Details</h1>
<br/>
<div>
    <h4>Dodjela vozila</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Datum dodjele
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dodjeljeno)
        </dd>
        <dt class = "col-sm-2">
            Datum vraćanja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VratitiDo)
        </dd>
        <dt class = "col-sm-2">
            Dodatak
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dodatak)
        </dd>
        <dt class = "col-sm-2">
           ID uposlenika
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUposlenikaNavigation.IdUposlenik)
        </dd>
        <dt class = "col-sm-2">
            ID vozila
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVozilaNavigation.IdVozila)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-success" fdprocessedid="oaubug">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-light" fdprocessedid="tsh8mj">Back to List</a>
</div>
