@model VP.Models.DodjelaVozila

@{
    ViewData["Title"] = "Details of Dodjela vozila";
}

<h1>Details</h1>

<div>
    <h4>Dodjela vozila</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dodjeljeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dodjeljeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VratitiDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VratitiDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dodatak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dodatak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUposlenikaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUposlenikaNavigation.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVozilaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdVozilaNavigation.ModelVozilaNavigation.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
