@model IEnumerable<VP.Models.DodjelaVozila>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Datum dodjele
            </th>
            <th>
               Datum vraćanja
            </th>
            <th>
               Dodatak
            </th>
            <th>
                ID uposlenika
            </th>
            <th>
                ID vozila
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dodjeljeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VratitiDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dodatak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUposlenikaNavigation.IdUposlenik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVozilaNavigation.IdVozila)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
