@model IEnumerable<VP.Models.DodjelaVozila>


@{
    ViewData["Title"] = "Dodjele vozila";
}

<h1>Dodjele vozila</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary" fdprocessedid="j5k4t7">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th>
                Uposlenik
            </th>
            <th>
                Vozilo
            </th>
            <th>
                Datum dodjele
            </th>
            <th>
                Datum vraćanja
            </th>
            <th>
                Dodatak
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUposlenikaNavigation.ImePrezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdVozilaNavigation.RegistracijskaOznaka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dodjeljeno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VratitiDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dodatak)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success" fdprocessedid="oaubug">Edit</a>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning" fdprocessedid="0i8oo">Details</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" fdprocessedid="z0p2rq">Delete</a>
        </td>
    </tr>
}
</tbody>
</table>